<div class="container">
  <div class="menu">
    <a routerLink="/">
      <img src="assets/logo-home.png" alt="" />
    </a>
    <nav>
      <ul>
        <li><a routerLink="/admin">Tableau de bord</a></li>
        <div>Accès direct :</div>
        <li><a routerLink="domaines">Domaines</a></li>
        <li><a routerLink="themes">Thèmes</a></li>
        <li><a routerLink="formations">Formations</a></li>
        <li><a routerLink="sessions">Sessions</a></li>
        <hr>
        <li><a routerLink="formateurs">Formateurs</a></li>
        <li><a routerLink="candidats">Candidats</a></li>
        <li><a routerLink="adresses">Adresses</a></li>
      </ul>
    </nav>
  </div>
  <div class="table">
    <router-outlet></router-outlet>
  </div>
</div>
