@import "variables";

.container {
    display: flex;

    .menu {
        padding: 1em 2em;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 1em;

        img {
            height: 100px;
        }
        
    }

    .table {
        min-height: 100vh;
        padding: 4em;
        background-color: #F7F7F7;
        flex-grow: 1;
    }
}
