<section>
  <a routerLink="/">
    <img class="link" src="assets/logo-home.png" alt="">
  </a>
  <h1>Connexion</h1>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="email">Email</label>
      <input type="text" id="email" formControlName="email" required>
    </div>
    <div>
      <label for="password">Mot de passe</label>
      <input type="password" id="password" formControlName="password" required>
    </div>
    <span>
      <a routerLink="/inscription">S'inscrire</a>
      <a routerLink="/">Mot de passe oublié</a>
      <a routerLink="/">Problème de connexion ?</a>
    </span>
    <div class="error-container">
      <p class="error-message" *ngIf="errorMessage">{{ errorMessage }}</p>
    </div>
    <button type="submit" [disabled]="isLoading">Se connecter</button>
  </form>
  <img class="logo" src="assets/logo-it-light.svg" alt="">
</section>
