<div class="container">
  <h3>Ajouter un centre de formation</h3>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <h4>Nom du centre</h4>
    <label>Nom :
      <input type="text" formControlName="nom">
    </label>
    <h4>Adresse du centre</h4>
    <app-address-form (addressEvent)="loadAddress($event)"></app-address-form>
    <div formGroupName="adresse">
      <label>Numéro :
        <input type="text" formControlName="numero">
      </label>
      <label>Rue :
        <input type="text" formControlName="adresse">
      </label>
      <div formGroupName="ville">
        <label>Code postale :
          <input type="text" formControlName="codePostal">
        </label>
        <label>Ville :
          <input type="text" formControlName="nom">
        </label>
        <input type="number" formControlName="lon" hidden>
        <input type="number" formControlName="lat" hidden>
      </div>
    </div>
    <button>Envoyer</button>
  </form>
</div>
