<section>
  <div class="container">
    <h2>A propos de nos formations</h2>
    <p>IT- Training dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
      dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita
      kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur
      sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
      voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata
      sanctus est Lorem ipsum dolor sit amet.</p>
    <div class="card-container">
      <div class="card">
        <div class="img">
          <div class="img-overlay">
            <h3>Particulier</h3>
            <p>En reconversion, à la recherche d'un emploi, en poursuite d'étude ou tout simplement, tu cherches à acquérir de nouvelles compétences ?</p>
            <p>IT- Training est riche de plus 800 formations et couvrent plusieurs domaines, i.e., ressources humaines, management, finance, informatique.</p>
            <p>Nous t'aidons à trouver le financement qui te correspond. Il y a des centres formations partout en France...</p>
          </div>
        </div>
        <a routerLink="">Plus d'infos</a>
      </div>
      <div class="card">
        <div class="img">
          <div class="img-overlay">
            <h3>Entreprise</h3>
            <p>En reconversion, à la recherche d'un emploi, en poursuite d'étude ou tout simplement, tu cherches à acquérir de nouvelles compétences ?</p>
            <p>IT- Training est riche de plus 800 formations et couvrent plusieurs domaines, i.e., ressources humaines, management, finance, informatique.</p>
            <p>Nous t'aidons à trouver le financement qui te correspond. Il y a des centres formations partout en France...</p>
          </div>
        </div>
        <a routerLink="">Plus d'infos</a>
      </div>
    </div>
  </div>
</section>
