section {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f1f1f1;

  h2 {
    margin-top: 30px;
  }

  element.style {
    display: block;
    width: 100%;
    height: auto;
  }
  #rendererContainer {
    width: 100%;
    height: 100%;
  }
  #rendererCanvas {
    width: 100%;
    height: 100%;
  }
}
