<h1>Contact</h1>
<section id="form_contact">
  <div id="icones">
    <figure>
      <img id="phone" src="../../../../../assets/phone.svg" alt="cellphone" />
      <figcaption>Appeller</figcaption>
    </figure>
    <figure>
      <img
        id="logo_IT_without_text"
        src="../../../../../assets/logo_IT_sans_text.svg"
        alt="logo IT-training"
      />
      <figcaption>Trouvez votre centre</figcaption>
    </figure>
  </div>
  <div id="formCont">
    <label for="email">Email</label>
    <input type="email" name="email" required />
    <label for="text">Objet de la demande</label>
    <input type="text" />
    <label for="text">Écrire votre message</label>
    <textarea
      id="story"
      name="story"
      rows=""
      cols=""
      spellcheck="true"
      required
    ></textarea>
    <div id="button_send">
      <input id="btn" type="button" value="Envoyer" />
    </div>
  </div>
  <div id="iconIT">
    <img
      src="../../../../../assets/Icone IT gris claire.svg"
      alt="Icone IT-training"
    />
  </div>
</section>
