@import "variables";

.infos {
  display: flex;
  gap: 1em;

  p {
    margin-bottom: 1em;
  }

  img {
    width: 200px;
    height: 200px;
    opacity: 0.25;

    @media screen and (max-width: 768px) {
      display: none;
    }
  }
}

.area-container {
  margin: 2em 0;
  padding: 2em;
  background-color: $secondary-color;
  border-radius: 0.5em;
  display: flex;
  justify-content: space-between;
  gap: 1em;

  @media screen and (max-width: 768px) {
    padding: 0.5em;
    flex-direction: column;
  }

  .list {
    flex-grow: 1;

    .input {
      width: 100%;
      position: relative;

      input {
        width: 100%;
        padding: 1em;
        border: 1px solid $secondary-color;
        border-radius: 0.5em;
      }

      svg {
        position: absolute;
        top: 7px;
        right: 7px;
        fill: $secondary-color;
    }
    }

    ul {
      margin-top: 1em;
      display: flex;
      flex-wrap: wrap;

      li {
        width: 50%;

        a {
          padding: 0.5em;
          display: block;
          color: #ffffff;
        }
      }
    }
  }
}
