@import 'variables';

section {
  height: 100vh;
  display: grid;
  grid-template: repeat(3, 1fr) / 1FR 1FR 1FR;

  .link {
    height: 150px;
    margin: 1em;
  }

  h1 {
    margin: auto;
  }

  form {
    grid-column: 2;
    grid-row: 2;
    padding: 4em 2em 2em;
    background-color: $secondary-color;
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    gap: 1em;

    div {
      display: flex;
      justify-content: space-between;
      align-items: center;

      label {
        width: 40%;
        color: $white;
      }
     
      input {
        width: 60%;
        padding: 0.5em;
        border: none;
        border-radius: 0.25em;
      }
    }

    button {
      width: 100px;
      padding: 0.5em;
      margin-left: auto;
      color: $secondary-color;
      cursor: pointer;
    }

    span a {
      margin-right: 1em;
      font-size: 0.75em;
      text-decoration: underline;
      color: $white;
    }

    .error-container {
      height: 1em;
      color: $red;
    }
  }

  .logo {
    grid-column: 3;
    grid-row: 2;
    height: 250px;
    margin: auto;
  }
}
