<section>
  <div>
    <a routerLink="/">
      <img class="link" src="assets/logo-home.png" alt="">
    </a>
  </div>
  <h1>Inscription</h1>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="email">Email</label>
      <input type="text" id="email" formControlName="email" required>
    </div>
    <div>
      <label for="password">Mot de passe</label>
      <input type="password" id="password" formControlName="password" required>
    </div>
    <div>
      <label for="confirmPassword">Confirmation</label>
      <input type="password" id="confirmPassword" formControlName="confirmPassword" required>
    </div>
    <span>
      <a routerLink="/connexion">Déja un compte ?</a>
    </span>
    <button type="submit" [disabled]="isLoading">S'inscrire</button>
  </form>
  <img class="logo" src="assets/logo-it-light.svg" alt="">
</section>
