@import 'variables';

header {
  background-color: rgb(255, 255, 255, 0.75);

  .container {
    max-width: $max-width;
    height: 195px;
    margin: auto;
    padding: 1em;

    display: flex;
    align-items: center;
    justify-content: space-between;

    a img {
      height: 150px;
    }

    ul {
      display: flex;

      @media screen and (max-width: 768px) {
        flex-direction: column;
      }

      a {
        padding: 1em;
        color: $primary-color;
      }
    }
  }
}
