<header>
  <div class="container">
    <a routerLink="/">
      <img src="assets/logo-home.png" alt="">
    </a>
    <nav>
      <ul class="desktop">
        <li><a routerLink="/formations">Formations</a></li>
        <li><a routerLink="">Particulier</a></li>
        <li><a routerLink="">Entreprise</a></li>
        <li><a routerLink="">Qui sommes-nous ?</a></li>
        <ng-container *ngIf="!(session$ | async)?.token">
          <li><a routerLink="">Inscription</a></li>
          <li><a routerLink="">Connexion</a></li>
        </ng-container>
        <li *ngIf="(session$ | async)?.token"><a routerLink="/tableau-de-bord">Tableau de bord</a></li>
      </ul>
      <div class="burger" (click)="toggleBurger()">
        <div class="line" [ngClass]="{'line1-active': isBurgerOpen}"></div>
        <div class="line" [ngClass]="{'line2-active': isBurgerOpen}"></div>
        <div class="line" [ngClass]="{'line3-active': isBurgerOpen}"></div>
      </div>
      <ul class="mobile" [@opened]="isBurgerOpen" (click)="toggleBurger()">
        <li><a routerLink="/formations">Formations</a></li>
        <li><a routerLink="">Particulier</a></li>
        <li><a routerLink="">Entreprise</a></li>
        <li><a routerLink="">Qui sommes-nous ?</a></li>
        <ng-container *ngIf="!(session$ | async)?.token">
          <li><a routerLink="">Inscription</a></li>
          <li><a routerLink="">Connexion</a></li>
        </ng-container>
        <li *ngIf="(session$ | async)?.token"><a routerLink="/tableau-de-bord">Tableau de bord</a></li>
      </ul>
    </nav>
  </div>
</header>
