<app-search-bar [selectedTrainings]="selectedTrainings" [trainings]="trainings" (addEvent)="addTraining($event)"></app-search-bar>

<div class="empty" *ngIf="selectedTrainings.length === 0">
  <p>Aucune formation trouvée</p>
  <p>Retrouvez nos formations sur notre page</p>
  <a routerLink="/formations">Formations</a>
</div>

<div class="register" *ngIf="selectedTrainings.length > 0">
  <app-selected-training *ngFor="let training of selectedTrainings" [training]="training" (deleteEvent)="deleteTraining($event)"></app-selected-training>
  <app-form></app-form>
</div>
