<aside>
  <div class="buttons">
    <div (click)="changeTab(1)" [ngClass]="{'active': currentTab === 1}">Inter</div>
    <div (click)="changeTab(2)" [ngClass]="{'active': currentTab === 2}">Intra</div>
    <div (click)="changeTab(3)" [ngClass]="{'active': currentTab === 3}">Sur mesure</div>
  </div>
  <div class="container" [@fadeIn]="currentTab === 1">
    <p>Formation {{ remote ? "à distance" : "en présentiel"}}.</p>
    <p>Référence : <b>{{ reference }}</b></p>
    <p>Durée : <b>{{ days }} jours ({{ days * 7 }} heures)</b></p>
    <p>Prix : <b>{{ price }}€ TTC</b></p>
    <a routerLink="" class="dates">Dates et villes disponibles</a>
    <div class="options">
      <a [routerLink]="['/formations/inscription', reference]" class="signup">S'inscrire</a>
      <span>Email</span>
      <span>Appeler</span>
    </div>
  </div>
  <div class="container" [@fadeIn]="currentTab === 2">
    <p>Intra</p>
  </div>
  <div class="container" [@fadeIn]="currentTab === 3">
    <p>Sur mesure</p>
  </div>
</aside>
