$primary-color: #1e4f9e;
$secondary-color: #121275;
$secondary-color-opac: rgba(18, 18, 117, 0.8);
$light-color: #d4dff1;
$white: #ffffff;
$light-grey: #f7f7f7;
$medium-grey: #f1f1f1;
$dark-grey: #4d535c;
$black: #000000;
$red: #ff0008;

$icon: #b0b2b5;

$min-width: 320px;
$max-width: 1280px;
