@import "variables";

aside {
  width: 20em;
  padding: 1em;
  background-color: rgb(165, 174, 211);
  border-radius: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;

  &.training {
    background-color: $light-color;
  }

  h4 {
    font-size: 1.5em;
    margin: 1em;
    color: $secondary-color;
  }

  .map {
    position: relative;

    img {
      width: 95%;
      transform: translateX(3px) rotate(-11deg);
    }
  }

  .input {
    width: 100%;
    margin-top: 1em;
    position: relative;

    input {
      width: 100%;
      padding: 1em;
      border: 1px solid $secondary-color;
      border-radius: 0.5em;
    }

    svg {
        position: absolute;
        top: 7px;
        right: 7px;
        fill: $secondary-color;
    }
  }
}
