<div class="details" [style.height.px]="isOpen ? maxHeight : height">
  <div #container class="container">
    <div class="title">
      <h3>Formation {{ session?.formation?.nom }} - <span [style.color]="true ? '#409E1E' : '#FF0008'">{{true ? 'OK' : 'En attente'}}</span></h3>
      <span class="button" (click)="handleClose()">X</span>
    </div>
    <div class="legend">{{ session?.formation?.theme?.domaine?.nom + ' - ' + session?.formation?.theme?.nom }}</div>
    <div class="infos">
        <div><span><b>Nom du référent :</b> {{ session?.formateur?.prenom + ' ' + session?.formateur?.nom }}</span></div>
        <div>
            <span><b>Durée</b> : {{ session?.duree }} jours</span>
            <span><b>Date de début</b> : {{ formatDate(session?.dateDebut!) }}</span>
            <span><b>Date de fin</b> : {{ formatDate(session?.dateFin!) }}</span>
            <span><b>Prix</b> : {{ session?.prix }}€</span>
        </div>
        <div><span><b>Nombre de participants :</b> ??/{{ session?.nombreParticipants }}</span></div>
        <div><span><b>Formation à distance :</b> {{ session?.remote ? 'Oui' : 'Non'}}</span></div>
        <div class="split">
            <div class="col">
                <h4>Liste des candidats :</h4>
                <ul>
                    <li><span>Cédric BOUCHER</span></li>
                    <li><span>Mehdi GAMOUH</span></li>
                    <li><span>Nicolas TAPIA</span></li>
                    <li><span>Un petit chat</span></li>
                    <li><span>Un gros chien</span></li>
                    <li><span>Quentin LeLutin</span></li>
                    <li><span>Alexandre LaGrande</span></li>
                    <li><span>Une chaise De Bureau</span></li>
                </ul>
            </div>
            <div class="col">
                <h4>Centre de formation :</h4>
                <span><b>Nom du centre :</b> {{ session?.centre?.nom }}</span>
                <span><b>Adresse :</b> {{ session?.centre?.adresse?.numero + ' ' + session?.centre?.adresse?.adresse + ', ' + session?.centre?.adresse?.ville?.codePostal + ' ' + session?.centre?.adresse?.ville?.nom }}</span>
            </div>
        </div>
        <div class="col programme">
            <h4>Programme :</h4>
            <p><b>Chapitre 1 :</b> Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum voluptas, illum atque sapiente animi sunt a incidunt, nostrum ab maiores architecto accusantium itaque totam consequatur.</p>
            <p><b>Chapitre 2 :</b> Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, voluptate quibusdam. Pariatur temporibus perspiciatis laudantium, in nostrum, at voluptas inventore, nemo reiciendis neque nihil? Asperiores voluptates ad iste eveniet quae.</p>
            <p><b>Chapitre 3 :</b> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat omnis adipisci, molestias necessitatibus doloremque esse.</p>
            <p><b>Chapitre 4 :</b> Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga quasi inventore labore omnis ullam quam quaerat ut repellendus facilis culpa, accusantium nemo quae reiciendis natus?</p>
            <p><b>Chapitre 5 :</b> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae placeat sapiente et assumenda ratione, mollitia temporibus quia dolorum id tempora.</p>
        </div>
    </div>
  </div>
</div>
