<aside>
  <div class="buttons">
    <div>Inter</div>
    <div>Intra</div>
    <div>Sur mesure</div>
  </div>
  <div class="container">
    <p>Formation {{ remote ? "à distance" : "en présentiel"}}.</p>
    <p>Référence : <b>{{ reference }}</b></p>
    <p>Durée : <b>{{ days }} jours ({{ days * 7 }} heures)</b></p>
    <p>Prix : <b>{{ price }}€ TTC</b></p>
    <a routerLink="" class="dates">Dates et villes disponibles</a>
    <div class="options">
      <a routerLink="" class="signup">S'inscrire</a>
      <span>Email</span>
      <span>Appeler</span>
    </div>
  </div>
</aside>
