<main>
  <ng-container *ngIf="isAuthPage() || isAdminPage(); else website">
    <router-outlet></router-outlet>
  </ng-container>

  <ng-template #website>
    <ng-container *ngIf="!isHomePage(); else homePage">
      <app-header></app-header>
      <div class="current-page">
        <div [innerHTML]="getCurrentPageLinks()" (click)="processLinks($event)"></div>
      </div>
      <section>
        <router-outlet></router-outlet>
      </section>
    </ng-container>

    <app-footer></app-footer>
  </ng-template>
</main>

<ng-template #homePage>
  <router-outlet></router-outlet>
</ng-template>
