<section>
  <h2>Pour qui ?</h2>
  <div class="contains">
    <div class="contain mortar-board">
      <div>
        <img
          class="svg mortar"
          src="assets/mortar-board.svg"
          alt="Chapeau universitaire"
        />
        <h3>Formation en alternance</h3>
      </div>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium
        corporis omnis consectetur eum. Cumque voluptas recusandae voluptates!
        Aperiam accusamus aut quae eos delectus similique mollitia!
      </p>
    </div>

    <div class="contain university">
      <div>
        <img class="svg univ" src="assets/university.svg" alt="université" />
        <h3>Formation intra/inter et sur-mesure</h3>
      </div>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium
        corporis omnis consectetur eum. Cumque voluptas recusandae voluptates!
        Aperiam accusamus aut quae eos delectus similique mollitia!
      </p>
    </div>

    <div class="contain user">
      <div>
        <img class="svg person" src="assets/user.svg" alt="personne" />
        <h3>Formation pour les particuliers</h3>
      </div>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium
        corporis omnis consectetur eum. Cumque voluptas recusandae voluptates!
        Aperiam accusamus aut quae eos delectus similique mollitia!
      </p>
    </div>

    <div class="contain pole-emploi-logo-vector">
      <div>
        <img
          class="svg pole-emploi"
          src="assets/pole-emploi-logo-vector.svg"
          alt="pole-emploi"
        />
        <h3>Formation POEI</h3>
      </div>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium
        corporis omnis consectetur eum. Cumque voluptas recusandae voluptates!
        Aperiam accusamus aut quae eos delectus similique mollitia!
      </p>
    </div>

    <div class="contain home">
      <div>
        <img class="svg house" src="assets/home.svg" alt="domicile" />
        <h3>Formation à distance</h3>
      </div>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium
        corporis omnis consectetur eum. Cumque voluptas recusandae voluptates!
        Aperiam accusamus aut quae eos delectus similique mollitia!
      </p>
    </div>
    <div class="button_div">
      <button>+ d'infos</button>
    </div>
  </div>
</section>
