@import "variables";

section {
  height: 100vh;
  background-image: url("/assets/home.jpg");
  background-size: cover;

  .container {
    max-width: $max-width;
    margin: auto;
    padding: 1em;

    .form {
      max-width: 750px;
      margin-top: 5em;
      border-radius: 1em;
      padding: 2em;
      background-color: rgb(255, 255, 255, 0.75);

      h2 {
        color: $primary-color;
      }

      .submit {
        margin-top: 1em;
        display: flex;
        gap: 1em;

        div {
          flex-grow: 1;
          position: relative;

          input {
            width: 100%;
            height: 100%;
            padding: 0 1em;
            flex-grow: 1;
            background-color: $light-color;
            font-size: 1em;
            color: $primary-color;

            &::placeholder {
              color: $primary-color;
            }
          }

          .select {
            width: 100%;
            border-radius: 0.5em;
            background-color: $white;
            border: 1px solid $dark-grey;
            overflow: hidden;
            position: absolute;
    
            @media screen and (max-width: 768px) {
              width: 100%;
            }
    
            li {
              padding: 0.5em;
              cursor: pointer;

              a {
                color: $dark-grey;
                display: block;
              }
    
              &:hover {
                background-color: $light-grey;
              }
            }
          }
        }

        button {
          padding: 0.5em;
          background-color: $secondary-color;
          cursor: pointer;
        }

        input,
        button {
          border-radius: 0.5em;
          border: 1px solid $secondary-color;
        }
        
      }
      #researchTraining{
        display: flex;
        justify-content: space-between;
        align-items:end;
        color: $secondary-color;
        

        figure{
          display: flex;
          margin: 10px 10px 0px 0px;
          flex-direction: column;
          align-items: center;
          text-align: center;
          cursor: pointer;

          @media screen and (max-width: 768px) {
            font-size: small;
          }
          .svg{
            width: 30px;
            height: 30px;
          }
          .IT{
            width: 40px;
            height: 40px;
                }
        }
        button{
          width: 53%;
          padding: 7px;
          color: #fff ;
          border-radius: 9px;
          border: none;
          background-color: $secondary-color;
          cursor: pointer;
        } 
      } 
    }
  }
}
