<section>
  <app-header></app-header>
  <div class="container">
    <div class="form">
      <h2>Trouvez votre formation</h2>
      <div class="submit">
        <div>
          <input
            type="text"
            placeholder="Rechercher une formation..."
            [(ngModel)]="input"
          />
          <ul class="select" *ngIf="input">
            <ng-container *ngFor="let training of trainings | async">
              <li
                *ngIf="
                  training.nom.toLowerCase().includes(this.input.toLowerCase())
                "
              >
                <a [routerLink]="['/formations', formatName(training.nom)]">{{
                  training.nom
                }}</a>
              </li>
            </ng-container>
          </ul>
        </div>

        <button type="submit">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="29"
            height="29"
            viewBox="0 0 29 29"
          >
            <path
              id="search"
              d="M84.077,140.269a7.825,7.825,0,1,0-2.292,5.516A7.519,7.519,0,0,0,84.077,140.269ZM93,154.769A2.262,2.262,0,0,1,90.769,157a2.071,2.071,0,0,1-1.569-.662l-5.978-5.96a11.934,11.934,0,0,1-6.954,2.161,12.056,12.056,0,0,1-4.767-.967,12.015,12.015,0,0,1-6.535-6.535,12.228,12.228,0,0,1,0-9.533,12.015,12.015,0,0,1,6.535-6.535,12.228,12.228,0,0,1,9.533,0,12.015,12.015,0,0,1,6.535,6.535,12.056,12.056,0,0,1,.967,4.767,11.934,11.934,0,0,1-2.161,6.954l5.978,5.978A2.135,2.135,0,0,1,93,154.769Z"
              transform="translate(-64 -128)"
              fill="#fff"
            />
          </svg>
        </button>
      </div>

      <div id="researchTraining">
        <figure>
          <img
            class="svg IT"
            src="/assets/logo_IT_sans_text.svg"
            alt="IT-Training"
          />
          <figcaption>Trouvez votre centre</figcaption>
        </figure>

        <figure>
          <img class="svg email" src="/assets/envelope.svg" alt="email" />
          <figcaption>Email</figcaption>
        </figure>

        <figure>
          <img class="svg call" src="/assets/phone.svg" alt="téléphone" />
          <figcaption>Appeller</figcaption>
        </figure>

        <button>Afficher toutes nos formations</button>
      </div>
    </div>
  </div>
</section>

<app-about></app-about>
<app-areas></app-areas>
<app-what></app-what>
<app-carousel></app-carousel>
<app-search></app-search>
<app-jobs></app-jobs>
