@import 'variables';

section {
  display: flex;
  gap: 0 1em;

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }

  #textDescription {
    width: 85%;
    color: #1E4F9E;
  }

  .icons {
    display: flex;
    gap: 1em;

    figure {
      margin: 30px 10px 0 0;
      display: flex;
      flex-direction: column;
      align-items: center;

      svg {
        fill: #4D535C;
      }
    }
  }

  h2 {
    margin: 1em 0;
  }

  h3 {
    margin-right: 5px;
    font-size: xx-large;

    @media screen and (max-width: 768px) {
      width: 100%;
      font-size: x-large;
    }
  }

  #h3Bleu {
    color: #1E4F9E;
  }

  .target {
    padding: 1em;
    background-color: $secondary-color;
    color: $light-color;
    border-radius: 0.5em;
    display: flex;
    justify-content: space-around;

    div {
      padding: 2em;
      display: flex;
      flex-direction: column;
      gap: 1em;

      @media screen and (max-width: 768px) {
        padding: 1em;
      }
    }

    a {
      color: #E6B92A;
    }

    .icon {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      fill: #D4DFF1;

      @media screen and (max-width: 768px) {
        padding: 0em;
      }
    }
  }

  li {
    padding: 1em 4em;
    margin: 0.5em 0;
    display: block;
    color: $secondary-color;
    background-color: #F1F1F1;
    border: 1px solid $secondary-color;
    border-radius: 0.5em;
    cursor: pointer;
  }
}