<h3 (click)="toggle()">+ Ajouter un thème</h3>
<div class="container" [style.height.px]="isOpen ? maxHeight : height">
  <div #container>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <h4>Nom du thème</h4>
      <label>Nom :
        <input type="text" formControlName="nom">
      </label>
      <h4>Description du thème</h4>
      <label>Description :
        <input type="text" formControlName="description">
      </label>
      <label>Domaine :
        <select formControlName="domaine_id">
          <option value="1">Information</option>
          <option value="2">Management</option>
        </select>
      </label>
      <button>Envoyer</button>
    </form>
  </div>
</div>
