@import "variables";

h3 {
  padding: 0.5em;
  background-color: $secondary-color;
  color: $white;
  cursor: pointer;
}

.container {
  margin: 1em 0;
  background-color: $white;
  overflow: hidden;
  transition: height 0.3s ease-in-out;

  form {
    padding: 0 1em 1em 1em;
    display: flex;
    flex-direction: column;

    h4 {
      width: 100%;
      font-size: 1.25em;
      margin: 1em 0 0.5em;
    }

    label + label {
      margin-top: 1em;
    }

    input {
      width: 100%;
    }

    button {
      width: 100px;
      margin-top: 1.5em;
      padding: 0.5em;
      cursor: pointer;
    }
  }
}
