<form class="choice">
  <div (click)="apply('particulier')">
    <label for="particulier">Particulier</label>
    <input type="radio" id="particulier" name="choice" checked />
  </div>
  <div (click)="apply('entreprise')">
    <label for="entreprise">Entreprise</label>
    <input type="radio" id="entreprise" name="choice" />
  </div>
</form>
<form [formGroup]="registerForm" (ngSubmit)="register()">

  <div *ngIf="formTarget === 'entreprise'">
    <div class="formGroup">
      <input type="text" formControlName="company" placeholder="Entreprise" />
      <input type="text" formControlName="business" placeholder="Raison sociale" />
    </div>
    <div class="formGroup">
      <input type="text" formControlName="size" placeholder="Effectif" />
      <input type="text" formControlName="position" placeholder="Fonction" />
    </div>
  </div>

  <div class="formGroup">
    <input type="text" formControlName="nom" placeholder="Nom" />
    <input type="text" formControlName="prenom" placeholder="Prénom" />
  </div>
  <div class="formGroup">
    <input type="text" formControlName="email" placeholder="Email" readonly />
    <input type="text" formControlName="telephone" placeholder="Téléphone" />
  </div>
  <div class="formGroup" *ngIf="formTarget === 'particulier'">
    <input type="text" formControlName="securiteSociale" placeholder="Numéro de sécurité sociale" />
    <input type="text" formControlName="identifiantPoleEmploi" placeholder="Identifiant Pôle emploi" />
  </div>

  <div class="address-form">
    <app-address-form (addressEvent)="loadAddress($event)"></app-address-form>
  </div>

  <div class="address" formGroupName="adresse">
    <div class="formGroup">
      <input type="text" formControlName="numero" placeholder="Numéro" readonly>
      <input type="text" formControlName="adresse" placeholder="Rue" readonly>
    </div>
    <div class="formGroup" formGroupName="ville">
      <input type="text" formControlName="codePostal" placeholder="Code Postal" readonly>
      <input type="text" formControlName="nom" placeholder="Ville" readonly>
      <input type="number" formControlName="lon" readonly hidden>
      <input type="number" formControlName="lat" readonly hidden>
    </div>
  </div>
  <button>Envoyer</button>
</form>
