<footer>
  <div class="container">
    <div>
      <h4>Qualité et certification</h4>
      <a routerLink="">Inter-entreprise</a>
      <a routerLink="">Intra-entreprise / Sur-mesure</a>
      <a routerLink="">Formations certifiantes</a>
      <a routerLink="">Formations mixtes</a>
    </div>
    <div>
      <h4>À propos d'IT</h4>
      <a routerLink="">Nos centres de formation</a>
      <a routerLink="">Recrutement</a>
      <a routerLink="">Le Groupe IT - Training</a>
    </div>
    <div>
      <h4>Aides</h4>
      <a routerLink="">FAQ</a>
      <a routerLink="">Contactez-nous</a>
      <a routerLink="">Bulletin d'inscription</a>
    </div>
    <div>
      <h4>Réseaux sociaux</h4>
      <a routerLink="">*</a>
      <a routerLink="">*</a>
      <a routerLink="">*</a>
    </div>
  </div>
</footer>
